### Question 21

In [1]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def length(self):
        return ((self.p1.x - self.p2.x)**2 + (self.p1.y - self.p2.y)**2)**0.5
    
    def slope(self):
        if self.p1.x - self.p2.x == 0:
            return None
        return (self.p1.y - self.p2.y) / (self.p1.x - self.p2.x)

# Test the code
p1 = Point(3, 4)
p2 = Point()
s = Segment(p1, p2)

length = s.length()
slope = s.slope()

length, slope

(5.0, 1.3333333333333333)

### Question 22

In [2]:
import sqlite3
import pandas as pd

# Create a SQLite database in memory
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the Weather table and insert data
cursor.execute('''
    CREATE TABLE Weather (
        id INT,
        recordDate DATE,
        temperature INT
    )
''')

data = [(1, '2015-01-01', 10),
        (2, '2015-01-02', 25),
        (3, '2015-01-03', 20),
        (4, '2015-01-04', 30)]

cursor.executemany('INSERT INTO Weather VALUES (?, ?, ?)', data)

# Execute the SQL query
query = '''
    SELECT t1.id
FROM Weather t1
JOIN Weather t2
ON t1.id = t2.id + 1
WHERE t1.temperature > t2.temperature;

'''

result = pd.read_sql_query(query, conn)

# Display the result
result

   id
0   2
1   4

### Question 23

In [3]:
def print_star_pattern(indent, num):
    if num > 0:
        # Print the pattern on the left side
        print_star_pattern(indent, num // 2)

        # Print the middle row of asterisks
        spaces = " " * indent
        stars = "*" * num
        print(spaces + stars)

        # Print the pattern on the right side with increased indentation
        print_star_pattern(indent + num // 2, num // 2)

# Example usage:
print_star_pattern(0, 4)

*
**
 *
****
  *
  **
   *

In [4]:
 print_star_pattern(0,2)

*
**
 *

In [5]:
 print_star_pattern(0,1)

*

In [6]:
 print_star_pattern(0,0)